--title 'Combos: generate combinations of your Arrays'
--verbose
#--output-dir './combo_docs'
--output-dir './docs'

#--use-cache
--protected
--private

#--exclude 'name'

--tag 'try: see what comes'

-
README.md
Combos_intro.md
CHANGELOG.md
LICENSE.txt